{{- $fullname := promptStringOnce . "fullname" "Your name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

encryption = "age"

[age]
identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
recipient = "age18t892gx3kdj6hsk07t4npk8vq08ps3s3qa4q2qsnhdsptp66g45qcu7008"

[data]
    fullname = {{ $fullname | quote }}
    email = {{ $email | quote }}
