{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch")) }}
[url "https://aur.archlinux.org/"]
	insteadOf = aur:
{{ end -}}
[user]
	email = {{ .email }}
	name = {{ .fullname }}
{{- if eq .fullname "Anton Lu" }}
[includeIf "gitdir:~/code/cern/"]
path = ~/.gitconfig-cern
{{ end -}}
[core]
	autocrlf = input
	editor = nvim
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
lol = log --graph --decorate --pretty=oneline --abbrev-commit
change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
[color]
branch = auto
diff = auto
interactive = auto
status = auto
